<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAh5zaBEV9i3oj66v0vX15t7Y7evlhLd54</string>
	<key>GCM_SENDER_ID</key>
	<string>1033939238964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chakravyuh.mazeking</string>
	<key>PROJECT_ID</key>
	<string>chakravyuh-maze-king</string>
	<key>STORAGE_BUCKET</key>
	<string>chakravyuh-maze-king.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033939238964:ios:48d3b43557315862e58a61</string>
</dict>
</plist>